*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // overflow: hidden;
  background-color: $color-body-background-1;
  background-image: linear-gradient(
    135deg,
    $color-body-background-1 0%,
    $color-body-background-2 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
