$color-black: #333;
$color-white: #fff;
$color-grey-1: rgba(163, 163, 163, 0.384);
$color-grey-2: rgba(29, 29, 29, 0.384);

$color-purple-dark: #3700b3;
$color-purple-light: #bb86fc;

$color-default-text: #333;

$color-body-background-1: #8bc6ec;
$color-body-background-2: #9599e2;
$color-nav-background: #67587a;
$color-sidebar-background: #eceaee;
$color-sidebar-active: #d9d5de;
$color-main-background: rgb(241, 241, 241);

$color-bookmark-btn: #67587a;
