/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* WES */

#app {
  max-height: 100vh;
}
#nav {
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.274);
}

#appMain {
  display: grid;
  grid-template-columns: 30% 70%;
  overflow-y: auto;
  z-index: -1;
}

#sidebar {
  background-color: rgb(236, 236, 236);
  overflow-y: auto;
}

.sidebar__el--list,
.sidebar__el--search,
.bookmarks__el {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.sidebar__el--active {
  background-color: rgba(145, 145, 145, 0.473);
}

.search__poster,
.bookmarks__poster {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 100%;
  object-fit: cover;
}

.search__details {
  margin-left: 20px;
}

.main {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  overflow-y: auto;
}

.movieList {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 20px;
}

.movieList img,
.similar__movie__img {
  max-width: 150px;
  justify-self: center;
  transition: all 0.5s;
}

.movieList img:hover,
.similar__movie__img:hover {
  transform: scale(1.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

#movie {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  z-index: 2;
}

.providerImage {
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}

.providerImage:hover {
  transform: scale(1.1);
}

.providerLinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  margin: 0 20px 40px 20px;
}

.btn__back {
  height: 30px;
  width: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.stars__outer {
  position: relative;
  display: inline-block;
}

.stars__inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars__outer::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: '\f005 \f005 \f005 \f005 \f005';
  color: rgb(136, 136, 136);
}

.stars__inner::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

.crew__image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  margin: 10px 10px;
  transition: all 1s;
}

.crew__image:hover {
  height: 100px;
  border-radius: 5px;
  transform: scale(1.2);
}

.bookmarks {
  min-height: 100px;
  max-height: 400px;
  width: 300px;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  overflow-y: auto;
}

.movie__actors ul,
.movie__directors ul {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}
.crew__member,
.movie__directors {
  display: flex;
  align-items: center;
}

.movie__similar__slider__container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  padding-bottom: 40px;
}

.movie__similar__slider__container > div {
  scroll-snap-align: start;
}

.similar__movie {
  width: 150px;
  flex-shrink: 0;
  height: 100%;
  padding: 30px 10px 10px 30px;
  scroll-behavior: smooth;
}
