.main {
  flex: 1;
  overflow-y: auto;
  transition: opacity 0.4s;
}

.movie {
  padding: 2rem 1rem;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 1rem;
  }
  &__img {
    max-width: 145px;
    justify-self: center;
    transition: all 0.5s;

    @include hover {
      &:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
          0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
          0 16px 16px rgba(0, 0, 0, 0.12);
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 32rem;
    margin: 1rem 0 2rem 0;
    font-size: 1.4rem;
  }
  &__first {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-bottom: 2rem;
  }
  &__poster {
    width: 20rem;
    height: 29.4rem;
    flex: 0 0 20rem;
  }
  &__genres {
    margin-top: 2rem;
  }
  &__info {
    flex: 1 0 20rem;
  }
  &__tagline {
    margin-bottom: 2rem;
  }
  &__actors {
    margin-bottom: 6rem;
    & ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
      list-style: none;
    }
  }
  &__directors {
    margin-top: 6rem;
  }
  &__directors {
    width: 20rem;
  }
  &__trailer {
    margin: 5rem 0;
    & iframe {
      width: 100%;
      max-width: 50rem;
    }
  }

  &__similar__slider__container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    & > div {
      scroll-snap-align: start;
    }
  }
}

.similar__movie {
  cursor: pointer;
  width: 150px;
  flex-shrink: 0;
  height: 100%;
  padding-top: 2rem;
  // padding: 30px 10px 10px 30px;
  scroll-behavior: smooth;
}

.btn__bookmark {
  cursor: pointer;
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  margin-left: 2rem;
  stroke-width: 0.1rem;
  stroke: $color-black;
  fill: transparent;

  &--active {
    fill: $color-bookmark-btn;
  }
}

.provider {
  &__image {
    height: 5rem;
    border-radius: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
      0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
      0 16px 16px rgba(0, 0, 0, 0.12);
    transition: all 0.5s;
    @include hover {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    row-gap: 2rem;
    margin: 1rem 2rem 4rem 2rem;
  }
}

.btn__back {
  width: 3rem;
  height: 3rem;
  background-color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 1rem;
  margin-left: 0.1rem;
  border-radius: 10000px;
  cursor: pointer;
}

.stars {
  &__outer {
    position: relative;
    display: inline-block;

    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 400;
      content: '\f005 \f005 \f005 \f005 \f005';
      color: rgb(136, 136, 136);
    }
  }
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;

    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f005 \f005 \f005 \f005 \f005';
      color: #f8ce0b;
    }
  }
}

.crew {
  &__image {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__member {
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 2rem;
  }
}
