.movie__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn__bookmark {
  flex-shrink: 0;
  height: 4rem;
  width: 2.5rem;
  margin-left: 1rem;
  stroke-width: 0.1rem;
  stroke: black;
  fill: transparent;
}

.movie__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 35rem;
  margin: 1rem 0 2rem 0;
  font-size: 1.4rem;
}

.movie__first {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem;
}

.movie__poster {
  width: 20rem;
  height: 29.4rem;
  flex: 0 0 20rem;
}

.movie__info {
  flex: 1 0 20rem;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  row-gap: 1rem;
}

.movieList img,
.similar__movie__img {
  max-width: 140px;
  justify-self: center;
  transition: all 0.5s;
}

.movie__tagline {
  margin-bottom: 2rem;
}

.movieList img:hover,
.similar__movie__img:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  transform: scale(1.1);
  cursor: pointer;
}

// #movie {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   height: 400px;
//   width: 600px;
//   background-color: white;
//   border-radius: 10px;
//   z-index: 2;
// }

.providerImage {
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  transition: all 0.5s;
}

.providerImage:hover {
  transform: scale(1.1);
}

.providerLinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  row-gap: 2rem;
  margin: 0 20px 40px 20px;
}

.btn__back {
  width: 3rem;
  height: 3rem;
  background-color: rgb(51, 51, 51);
  box-shadow: 0 1rem 2rem rgba(black, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 1.5rem;
  left: 0.5rem;
  border-radius: 10000px;
  cursor: pointer;
}

.icon--back {
  fill: rgb(255, 255, 255);
}

.stars__outer {
  position: relative;
  display: inline-block;
}

.stars__inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars__outer::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
  content: '\f005 \f005 \f005 \f005 \f005';
  color: rgb(136, 136, 136);
}

.stars__inner::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f005 \f005 \f005 \f005 \f005';
  color: #f8ce0b;
}

.crew__image {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  object-position: center;
  margin: 1rem 1rem;
  transition: all 1s;
}

// .crew__image:hover {
//   height: 100px;
//   border-radius: 5px;
//   transform: scale(1.2);
// }
.movie__actors {
  margin-bottom: 6rem;
}
.movie__directors {
  margin-top: 6rem;
}
.movie__actors ul,
.movie__directors ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  list-style: none;
}
.crew__member,
.movie__directors {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.movie__trailer {
  margin: 5rem 0;
}

.movie__trailer iframe {
  width: 100%;
  max-width: 50rem;
}

.movie__similar__slider__container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.movie__similar__slider__container > div {
  scroll-snap-align: start;
}

.similar__movie {
  width: 150px;
  flex-shrink: 0;
  height: 100%;
  // padding: 30px 10px 10px 30px;
  scroll-behavior: smooth;
}
