.nav {
  padding: 0 1rem;
  background-color: $color-nav-background;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-shadow: rgba($color-black, 0.16) 0px 3px 6px,
    rgba($color-black, 0.23) 0px 3px 6px;
}

.search {
  flex: 1;
  display: flex;
  justify-content: center;

  &__field {
    height: 3rem;
    width: 70%;
    border: none;

    transition: width 0.3s;
    padding-left: 1rem;

    &:focus {
      width: 80%;
      outline: none;
    }

    &::placeholder {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
    }
  }

  &__submit {
    background-color: rgb(196, 196, 196);
    text-transform: uppercase;
    position: relative;
    border: none;
    width: 4rem;
  }
}
