.sidebar {
  height: 100%;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s;
  background-color: $color-sidebar-background;

  &__el {
    cursor: pointer;
  }

  &__el,
  &__el--blank {
    height: 9rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    transition: all 0.5s;

    &--active {
      background-color: $color-sidebar-active;
    }

    &:not(:last-child) {
      border-bottom: 0.1rem solid $color-grey-1;
    }
  }
  &__el--blank {
    padding: 1rem 1rem 1rem 2rem;
    height: 5rem;
  }

  &__poster {
    width: 5rem;
    height: 5rem;
    border-radius: 10000rem;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
  }
  &__details {
    margin-left: 1rem;
  }
}
