.sidebar {
  // width: 100%;
  height: 100%;
  // max-width: 400px;
  width: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s;
  background-color: #eceaee;
}

// .sidebar--hidden {
//   transform: translateX(-100%);
//   transition: all 1s;
// }

// .sidebar--show {
//   transform: translateX(0);
//   transition: all 1s;
// }

.sidebar__el,
.sidebar__el--blank {
  color: #333;
  height: 6rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(163, 163, 163, 0.384);
  }

  display: flex;
  justify-content: left;
  align-items: center;

  padding: 2rem;

  transition: all 0.5s;

  &--active {
    background-color: #d9d5de;
  }
}

.search__poster,
.bookmarks__poster {
  width: 5rem;
  height: 5rem;
  margin-left: 10px;
  border-radius: 10000rem;
  object-fit: cover;
  object-position: center;
}

.search__details {
  margin-left: 20px;
}
